*{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;

}
.principal{
      width: 99%;
      height: 80vh;

      display: flex;
      justify-content: center;
      align-items: center;
}
.tablero-grid{

      margin-top: 10em;
      width: 70%;
      height: 90vh;
      display: grid;
      grid-template-rows:  repeat(10,1fr);

      
}
.tablero-grid>.fila{
      display: grid;

      grid-template-columns:  repeat(10,1fr);
      border: solid;
}
.fila:nth-child(4)>:nth-child(4){
      font-size: 20px;
}
.fila>*{
      display: flex;
      justify-content: center;
      align-items: center;
      background: black;
      color: rgb(0, 0, 0);
      border: solid slategray;
}
.manzana{
      background: rgb(36, 128, 0);
      color: white;
      width: 50%;
      height: 50%;
      
}
.snake {
      background: rgb(128, 0, 0);
      color: white;
      width: 80%;
      height: 80%;
}